html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  margin: unset;
  padding: 1rem;
}

.splitted {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(400px, 100%)) {
  .splitted {
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  }
}

.splitted > * {
  border: 1px solid;
  padding: 1rem;
}
